@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Gotham";
  src: url("../public/fonts/Gotham-Font/GothamMedium.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body::-webkit-scrollbar {
  width: 6px;
}

body::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 3px;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

.bgColor {
  background: linear-gradient(200deg, transparent, rgb(24, 24, 24))
    rgba(237, 102, 48, 1);
}
